.header {
    border-bottom: 2px solid #C9C9C9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    margin: 50px;
    width: 80%;
    margin-left: 180px;
}
.createsurvey {
    margin-top: -50px;
}
.header h1 {
    margin-top: 90px;
    width: 150%;
    margin-left: 10px;
}
.header button {
    float: right;
    margin-bottom: 25px;
}
#btnfirst {
    color: #278DF1;
    background-color: #ffff;
    border-color: #278DF1;
    width: 120px;
    height: 38px;
    margin-top: 110px;
    margin-left: 700px;
}